/*
Colour Palette
    - Grey blue: #26283c - rgba(38, 40, 60,0.5)
    - visted link light green: rgb(49, 191, 153)
    - Dark blue: #121127 - rgb(18, 17, 39)
    - Grey green: #148769 - rgb(20, 135, 105)
    - Yellow pale: #efcc92 - rgb(231, 204, 149)
 */

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 0.75em 1em;
    background-color: #148769 ;
    border-radius: 50px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    border: 0;
    color: #26283c;
    font-weight: lighter;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
    background-color: #26283c;
    color: #efcc92;
    font-weight: bold;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #efcc92;
}

.btn-alt:hover,
.btn-alt:focus,
.btn-alt:active {
    background-color: #efcc92;
    color: #26283c;
}