/*
Colour Palette
    - Grey blue: #26283c - rgba(38, 40, 60,0.5)
    - visted link light green: rgb(49, 191, 153)
    - Dark blue: #121127 - rgb(18, 17, 39)
    - Grey green: #148769 - rgb(20, 135, 105)
    - Yellow pale: #efcc92 - rgb(231, 204, 149)
 */

.logo{
    width:10rem;
    margin-top: 5rem;
    margin-left: -15%;
}

nav ul {
	margin-left: 0;
    width: 100%;
	font-size: 1rem;
	text-decoration: none;
}

nav li{
	display: inline-block;
	padding-left:1rem;
    font-family:'Oswald', sans-serif;
}

nav a,
nav a:link,
nav a:visited{
	display: inline-block;
	margin: 0;
	text-align: center;
    border-bottom: #efcc92 solid;
	color: #efcc92;
}

nav .selected {
	text-decoration:none;
	
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #121127;
    border-bottom-color: #121127;
}

.current,
.current:link,
.current:visited {
    color: #121127;
    border-bottom-color: #121127;
}

.m-nav {
    display: none;
}

@media only screen and (min-width: 30em){ 
    
    nav ul{
        text-align:center;
    }
    
    .logo{
        margin-left: 15%;
    }
}

@media only screen and (min-width: 50em) {
    
    .m-nav {
        display:inline-block;
    }

    .s-nav{
        display: none;
    }

    .logo{
        width: 20rem;
        margin-left: -30%;
    }
    
    nav ul{
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 75em) {

         .logo{
        width: 20rem;
        margin-left: -20%;
    }

}

.banner{
    background: #7cee97 url("..//images/banner.jpg") no-repeat center center;
    background-size: cover;
    padding: 15rem 1rem 1rem;
    text-align: center;
    color: #fff;
}

.banner h1{
    color: #237436;
}