# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Moises del Corral (friend)}
- {Evelyn Rodas (friend)}
- {Martine Cormier}

- {Nichole Veiro}
- {Alissa Dicaire}
- {Ariah Boots}

## Tasks

1. {Buy a the mandela print}
2. {Find who were the founders of GRPvine}
3. {Find information about the london multamedia poster}

---

## Individual Results & Observations

### {Moises Del Corral}

- {He completed the task as expected But didn't make it to the thank you page.}
- {He had troubles completing the london task becasue he went back to home and toggeld between home and about.}

### {Evelyn Rodas}

- {She completed the task as expected but went through alot of tabbing to get to buy the product}

### {Martine Cormier}

- {Searched for the mandela print through the search page and it didn't work because it wasnt hooked up.

### {Theresa Doe}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {Todd Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.