---
layout: default
title: Home
meta: "Art pieces that are found and sold on GRP vine unique pieces to make unique places: links, videos, photos, info."
showbanner: yes
---

<div class="gutter unit unit-s-2 unit-m-2-3 unit-l-2-3">
    <h1>GRP Vine</h1>

    <p>Searching for that unique piece to display in your room? don’t look any further. I think you found the place.</p>

    <p>We deliver all across the world with just a simple click.</p>
</div>

<div class="grid">
    
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="20% Off Multimedia" desc="SHOP NOW" image="multi2p.jpg" %}
    </div>
    
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="50% Prints" desc="ADD CART" image="print2p.jpg" %}
    </div>
    
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="10% Off Exclusive Map" desc="SHOP NOW" image="print4p.jpg" %}
    </div>
      
</div>

<div class="grid">
      <div class="gutter unit unit-s-1 unit-m-1 unit-l-1">
        {% include promo-large.html title="YOU NEED THIS - 20%" desc="ADD CART" image="multi5p.jpg" %}
    </div>
</div>