---
layout: default
title: Home
meta: "Art pieces that are found and sold on GRP vine unique pieces to make unique places: links, videos, photos, info."
showbanner: yes
---

<main role="main">

<div class="top gutter unit unit-s-2 unit-m-2-3 unit-l-2-3">
    <h1>GRP Vine</h1>

    <p class="mega">Searching for a new poster to go in your room? Or is your friends birthday coming up soon? Here are some amazing colourful prints that you can display anywhere that needs a punch of colour. we have a verity of selections; multimedia prints and regular digital prints. They were all made from local designers in Ottawa. Check out or Facebook page to get in touch with any artist that you like.</p>

    <p class="mega">We deliver all across the world with just a simple click.</p>
</div>

<div class="grid">
    
    <div class="top gutter-half unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="20% Off Multimedia" desc="SHOP NOW" image="multi2p.jpg" %}
    </div>
    
    <div class="top gutter-half unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="50% OFF Graphic Prints" desc="shop now" image="print2p.jpg" %}
    </div>
    
    <div class="top gutter-half unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="10% Off colectors map" desc="shop now" image="print4p.jpg" %}
    </div>
      
</div>

<div class="grid top">
      <div class="top gutter-half unit unit-s-1 unit-m-1 unit-l-1">
        {% include promo-large.html title="YOU NEED 20%" desc="shop now" image="multi5p.jpg" %}
    </div>
</div>
    
</main>