# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Martine Comier - classmate}
- {Moises Del Corral - friend}
- {Evelyn Rodas - friend}

## Tasks

1. {find a promo that add to cart or buy}
2. {find london multimedia print and tell me something about it}
3. {go and see whas in your cart}

---

## Individual Results & Observations

### {Martine}

- {she clicked on the promo and started looking at the images in the shop page brewed and clicked on an image that she liked}
- {She directly clicked on the shop link and scrolled sown and found the image clicked on the image and read the page.}
- {She clicked on the the cart option.}

### {Moises Del Corral}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}

### {Evelyn Rodas}

- {She scrolled down to find the promo and clicked on the big promo, it took her to the shop page and she scrolled to find the one she wanted and clicked on it again and completed the task.}
- {from the cart page she went to home page then the about page then the shop page scrolled down and clicked on the image}
- {from where she was she clicked  on the cart}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {when buying somethign they never fully clicked on the buy now to get to the thank you page
I should make that button bigger and change the layout.}

### Serious, Causes Frustration, May Hinder Completion

- {nobody used the searchfield they used the shop page}

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.