# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {David Birch - classmate}
- {Moises Del Corral - friend}
- {Evelyn Rodas - friend}

## Tasks

1. {Find the price for any digital print that you like}
2. {Add digital print to your cart}
3. {Third task description here}

---

## Individual Results & Observations

### {David Birch}

- {She clicked on the link as expected…}
- {She had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Moises Del Corral}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Evelyn Rodas}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.