---
layout: shop
title: Shop
meta: Our latest selection Paintings and Sculptures.
---

<div class="grid">

    <div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
        <p>Our latest selection Paintings and Sculptures.</p>
    </div>
</div>

<ul>
    {% for shop in site.pages %}
        {% if shop.category == "paintings" %}
            <li>
                <a href="{{site.baseurl}}{{shop.url}}">
                    <img src="{{site.baseurl}}/images{{shop.image}}" alt=""=>
                    {{shop.title}}
                </a>
            </li>    
        {% endif %}
    {% endfor %}
</ul>

<ul>
    {% for shop in site.pages %}
        {% if shop.category == "sculptures" %}
            <li>
                <a href="{{site.baseurl}}{{shop.url}}">
                    <img src="{{site.baseurl}}/images{{shop.image}}" alt=""=>
                    {{shop.title}}
                </a>
            </li>    
        {% endif %}
    {% endfor %}
</ul>