---
layout: default
title: Shop
meta: Our latest selection Paintings and Sculptures.
---

<nav>
    <ul>
        <li class="list-group-item list-group-item-inline"><a class="{% if page.url == 'paintings' %}current{% endif%}" href="{{site.baseurl}}paintings">Paintings</a></li>
        <li  class="list-group-item list-group-item-inline"><a class="{% if page.url == 'sculptures' %}current{% endif%}" href="{{site.baseurl}}sculptures">Sculptures</a></li>
    </ul>
</nav>

<div class="grid">

    <div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
        <p>Our latest selection Paintings and Sculptures.</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
        <ul>
            {% for shop in site.pages %}
                {% if shop.category == "paintings" %}
                    <li>
                        <a href="{{site.baseurl}}{{shop.url}}">
                            <img class="img img-nonflex" src="{{site.baseurl}}/images{{shop.image}}" alt=""=>
                            {{shop.title}}
                        </a>
                    </li>    
                {% endif %}
            {% endfor %}
        </ul>
    </div>


    <div class="unit unit-s-1 unit-m-1-2 unit-l-2-2">
        <ul>
            {% for shop in site.pages %}
                {% if shop.category == "sculptures" %}
                    <li>
                         <a href="{{site.baseurl}}{{shop.url}}">
                            <img class="img img-nonflex" src="{{site.baseurl}}/images{{shop.image}}" alt=""=>
                            {{shop.title}}
                        </a>
                    </li>    
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

