---
layout: default
title: Shop
meta: Our latest Pirnts and Multimedia posters.
---

<h1>{{page.title}}</h1>

{% include shop-nav.html %}

<div class="grid">

    <div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
        <p>Check out the lates prints and multimadia posters</p>
    </div>
</div>

<div class="grid">
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
        <ul>
            {% for shop in site.pages %}
                {% if shop.category == "prints" %}
                    <li class="list-group list-group-item tera">
                        <a href="{{site.baseurl}}{{shop.url}}">
                            <img class="img img-nonflex" src="{{site.baseurl}}/images{{shop.image}}" alt=""=>
                            {{shop.title}}
                        </a>
                    </li>    
                {% endif %}
            {% endfor %}
        </ul>
    </div>


    <div class="unit unit-s-1 unit-m-1-2 unit-l-2-2">
        <ul>
            {% for shop in site.pages %}
                {% if shop.category == "multimedia" %}
                    <li class="list-group list-group-item tera">
                         <a href="{{site.baseurl}}{{shop.url}}">
                            <img class="img img-nonflex" src="{{site.baseurl}}/images{{shop.image}}" alt=""=>
                            {{shop.title}}
                        </a>
                    </li>    
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

