---
layout: default
title: Multimedia
meta: Multimedia Prints
---

<main role="main">

<h1>{{page.title}}</h1>

{% include shop-nav.html %}

<div class="grid">
    <ul>
        {% for shop in site.pages %}
            {% if shop.category == "multimedia" %}
                <li class="list-group list-group-item unit unit-s-1 unit-m-1-2 unit-l-1-2">
                    <a class="unit unit-s-1 unit-m-1-2 unit-l-2-1" href="{{site.baseurl}}{{shop.url}}">
                        <img class="img-flex" src="{{site.baseurl}}/images{{shop.image}}" alt=""=>
                        {{shop.title}}
                    </a>
                </li>    
            {% endif %}
        {% endfor %}
    </ul>
</div>
    
</main>