---
layout: default
title: Paintings
meta: Our latest selection Paintings.
---

<h1>{{page.title}}</h1>

<nav>
    <ul>
        <li class="list-group-item list-group-item-inline"><a class="{% if page.url == 'paintings' %}current{% endif%}" href="{{site.baseurl}}paintings">Paintings</a></li>
        <li  class="list-group-item list-group-item-inline"><a class="{% if page.url == 'sculptures' %}current{% endif%}" href="{{site.baseurl}}sculptures">Sculptures</a></li>
    </ul>
</nav>

<div class="grid">
    <ul>
        {% for shop in site.pages %}
            {% if shop.category == "paintings" %}
                <li class="list-group list-group-item unit unit-s-1 unit-m-1-2 unit-l-1-2">
                    <a class="unit unit-s-1 unit-m-1-2 unit-l-2-2" href="{{site.baseurl}}{{shop.url}}">
                        <img class="img-flex" src="{{site.baseurl}}/images{{shop.image}}" alt=""=>
                        {{shop.title}}
                    </a>
                </li>    
            {% endif %}
        {% endfor %}
    </ul>
</div>