body{
    font-family:'Gudea', sans-serif;
}

#gather_things{
    float:right;
}

.search-form {
    display: inline-block;
}

.search-fieldset {
    border: 0;
    padding: 0 0 0 30px;
    margin: 0;
    background-image:url("http://i.imgur.com/XL9sBUc.png");
    background-size:30px 30px;
    background-repeat: no-repeat;
    background-position: left center;
}

.bar{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    margin:0% ;
    height:50px;
    background-color:#121127;
}

.search_bar{
    vertical-align:top;
    display:inline-block;
    color:#121127;
    background-color:#efcc92;
    position:relative;
    margin:8px;
    width:110px;
    font-size:25px;
    height:30px;
    padding:2px;
    border:none;
    outline:none;
    transition:width 0.2s ease;
    transition-delay:0.1s;
}

.search_bar:hover{
	width:300px;
}

.search_bar:focus{
	width:300px;	
}