/*
Colour Palette
    - Grey blue: #26283c - rgba(38, 40, 60,0.5)
    - visted link light green: rgb(49, 191, 153)
    - Dark blue: #121127 - rgb(18, 17, 39)
    - Grey green: #148769 - rgb(20, 135, 105)
    - Yellow pale: #efcc92 - rgb(231, 204, 149)
 */

html{
    font: normal 100%/1.5 'Gudea', sans-serif;
    color: #26283c;
    background-color: #148769;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0 0 1rem 0;
    color: #121127
}

h1,h2,h3,h4,h5,h6
.brand{
    font-family:'Oswald', sans-serif;
}

.yotta {
  font-size: 3.5832rem;
  line-height: 1.2559;
}

.zetta {
  font-size: 2.9860rem;
  line-height: 1.0047;
}

h1, .exa {
  font-size: 2.4883rem;
  line-height: 1.2056;
}

h2, .peta {
  font-size: 2.0736rem;
  line-height: 1.4468;
}

h3, .tera {
  font-size: 1.7280rem;
  line-height: 1.7361;
}

h4, .giga {
  font-size: 1.4400rem;
  line-height: 1.0417;
}

h5, .mega {
  font-size: 1.2000rem;
  line-height: 1.2500;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8333rem;
  line-height: 1.8000;
}

.micro {
  font-size: 0.6944rem;
  line-height: 2.1600;
}

.yotta {
    text-transform: uppercase;
    font-weight: 700;
  }

.giga, .tera {
    text-transform: uppercase;
}

hr{
    border-color:#efcc92;
    height: 1px;
}

.brand-colour{
    color:#121127;
}

.brand-family{
    font-family: 'Gudea', sans-serif;
}

::selection {
    background-color: #26283c;
    color: #efcc92;
}

a,
a:link {
    color: #31bf9a;
    text-decoration: none;
    border-bottom: 0.1em solid rgba(38, 40, 60,0.5);
    transition: all 250ms linear;
}

a:visited{
    color: #26283c;
    border-bottom-color: solid rgba(38, 40, 60,0.5);
}

a:hover,
a:focus,
a:active {
    color: #efcc92;
    border-bottom-color: #efcc92;
}

a:hover,
a:active{
    outline: none;
}

a:focus,
input:focus,
button:focus{
    outline: 3px solid red;
}

.block-link,
.block-link:link,
.block-link:visited{
    display:block;
    border-bottom: 0;
}

ul{
    list-style-type: none;
}

ul, li{
    position:: relative;
}

ul li:before{
    content:"▵";
    color:#efcc92;
    position: relative;
    left: -1em;
}

dt {
    display: block;
    font-weight: bold;
    color: #efcc92;
}

blockquote {
    border-left: 10px solid #efcc92;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #efcc92;
    content: "‟";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

mark {
    background-color: rgba(239, 204, 146,0.5)
}

th {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #26283c;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #efcc92;
    
}

thead {
    font-family: 'Gudea', sans-serif;
}


th, td {
    border-bottom: 1px solid #efcc92;
    padding: 2em;
}

@media only screen and (min-width: 30em){ 
    
    .gutter{
        padding-left: 0;
        padding-right: 0;
    }

}

@media only screen and (min-width: 50em) {
    
    .gutter {
        padding-left: 5rem;
        padding-right: 5rem;
    }
 
}

@media only screen and (min-width: 75em) {
    
    .gutter {
        padding-left: 5rem;
        padding-right: 5rem;
    }

}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}