<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title> {{page.title}} · GRP Vine</title>
    <meta name="description" content="{{page.meta}}">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic|Oswald:700' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet"> 
    <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/icons.css" rel="stylesheet"> 
    <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet"> 
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/form.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet"> 
    <link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/promo.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/thank-you.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
</head>
    
<body>
    
    <header role="banner">        
        <div id="bottom_bar" class="bar">
            <div id="gather_things">
                <div class="search_button"></div>
                    <form action="{{site.baseurl}}/search/" method="get" role="search">
                        <fieldset class="clearfix">
                            <input type="search" value="artist/products" class="search_bar"></input>
                        </fieldset>
                    </form>
            </div>
        </div>
    
        <div class="logo-box">
            <a class="{% if page.url == '/' %}current{% endif%} block-link" href="{{site.baseurl}}/"> <img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="GRP Vine Logo"> </a>
        </div>
    
        <nav>
            <ul class="s-nav">
                <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/' %}current{% endif%}" href="{{site.baseurl}}/">Home</a></li>
                <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/about/' %}current{% endif%}" href="{{site.baseurl}}/about/">About</a></li>
                <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/shop/' %}current{% endif%}" href="{{site.baseurl}}/shop">Shop</a></li>
                <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/cart/' %}current{% endif%}" href="{{site.baseurl}}/cart/"> Cart</a></li>
            </ul>
        </nav>
    
        <nav role="navigation">
            <ul class="tera m-nav">
                <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/' %}current{% endif%}" href="{{site.baseurl}}/">Home</a></li>
                <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/about/' %}current{% endif%}" href="{{site.baseurl}}/about/">About</a></li>
                <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/shop/' %}current{% endif%}" href="{{site.baseurl}}/shop/">Shop</a></li>
                <li class="list-group-item list-group-item-inline"><a class="{% if page.url == '/cart/' %}current{% endif%}" href="{{site.baseurl}}/cart/"> Cart</a></li>
            </ul>
        </nav>
    
    </header>
    
    {% if page.showbanner %}
    <div class="banner">
        <h1>{{page.bannertext}}</h1>
    </div>
    {% endif %}
    
    <div class="gutter">

        {{content}}
    
    </div>
    
        <hr class="top">
    
    <footer>
        <section class="social-media">
            <ul class="links list-group">
                <li class="list-group-item">
                    <a class="btn" href="https://www.facebook.com/">
                    <i class="fa fa-facebook"></i>
                    </a>
                </li>
                    
                <li class="list-group-item">
                    <a class="btn" href="https://twitter.com/">
                    <i class="fa fa-twitter"></i>
                    </a>
                </li>
                    
                <li class="list-group-item">
                    <a class="btn" href="https://plus.google.com">
                    <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </section>
        
        <section class="social-inline">
            <ul class="links list-group">
                <li class="list-group-item list-group-item-inline">
                    <a class="btn" href="https://www.facebook.com/">
                    <i class="fa fa-facebook"></i>
                    </a>
                </li>
                    
                <li class="list-group-item list-group-item-inline">
                    <a class="btn" href="https://twitter.com/">
                    <i class="fa fa-twitter"></i>
                    </a>
                </li>
                    
                <li class="list-group-item list-group-item-inline">
                    <a class="btn" href="https://plus.google.com">
                    <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </section>
        
        <hr>

        
        <div class="copyright micro" role="contentinfo">
            <p>©2014 All rights reserved for GRPVINE. <a link href="#"> Terms & Conditions</a> </p>
        </div>
        
    </footer>
    
</body>