/*
  Colour Palette
  - Grey blue: #26283c - rgba(38, 40, 60,0.5);
  - Dark blue: #121127 - rgb(18, 17, 39)
  - Grey green: #148769 - rgb(20, 135, 105)
  - Yellow pale: #efcc92 - rgb(231, 204, 149)
 */

html{
    font: normal 100%/1.5 'Gudea', sans-serif;
    color: #26283c;
    background-color: #148769;
}

h1, h2, h3, h4, h5, h6{
    margin: 0 0 1rem 0;
    color: #121127
}

h1,h2,h3,h4,h5,h6
.brand{
    font-family:'Oswald', sans-serif;
}

hr{
    border-color:#efcc92;
}

.brand-colour{
    color:#121127;
}

.brand-family{
    font-family: 'Gudea', sans-serif;
}

::selection {
    background-color: #26283c;
    color: #efcc92;
}

a,
a:link {
    color: #26283c;
    text-decoration: none;
    border-bottom: 0.1em solid rgba(38, 40, 60,0.5);
            );
    transition: all 250ms linear;
}

a:visited{
    color: #26283c;
    border-bottom-color: solid rgba(38, 40, 60,0.5);
}

a:hover,
a:focus,
a:active {
    color: #efcc92;
    border-bottom-color: #efcc92;
}

ul{
    list-style-type: none;
}